<div class="row">
  <div class="new-question col-12">
      <%= link_to "質問する", new_question_path, class: "mb-4 btn btn-info btn-md w-100 mt-2" %>
  </div>
</div>
<h2 class="h4 font-weight-bold">Categories</h2>
<div class="list-group">
    <% @questions_tags.category_counts.each do |tag| %>
        <%= link_to tag, question_tag_path(tag.name), class: "list-group-item list-group-item-action" %>
    <% end %>
</div>