  	<div class="jumbotron jumbotron-fluid about">
		<div class="container">
			<h1 class="text-dark display-4 font-weight-bold">Open Reserchとは？</h1>
			<p class="text-secondary lead mt-4">研究活動を円滑に進められる "プラットホーム" を提供します。</p>
		</div>
	</div>
  	<main>
  		<section class="content">
  			<div class="container">
	  			<h2>研究活動を円滑に</h2>
	  			<p>実験での問題点、論文での疑問点を投稿すれば、全国の研究者からの回答が期待できます。</p>
  			</div>
  		</section>
  		<section class="content bg-light">
  			<div class="container">
	  			<h2>フラットな議論を</h2>
	  			<p>学生、ポスドク、指導者という立場に囚われないオープンかつフラットな議論を可能にします。</p>
  			</div>
  		</section>
  		<section class="content">
  			<div class="container">
	  			<h2>研究室内での情報共有を確実に</h2>
	  			<p>研究室ごとでのアカウント管理によって、情報共有を可能にします。</p>
  			</div>
  		</section>
  		<section class="content bg-light">
  			<div class="container">
	  			<h2>共同研究でのコミュニケーションを気軽に</h2>
	  			<p>共同研究者のみのコミュニティを作成すれば、コミュニケーションの促進につながります。</p>
  			</div>
  		</section>
  		<section class="content">
  			<div class="container">
	  			<h2>密な議論をフラットに</h2>
	  			<p>任意のユーザーとコミュニティを作り、そこで深い議論をフラットに行えます。</p>
  			</div>
  		</section>
  		<section class="content bg-light">
  			<div class="container">
	  			<h2>全国で共有のプロトコールへ</h2>
	  			<p>プロトコールを蓄積していき、統一したプロトコールの利用を実現します。</p>
  			</div>
  		</section>
		
  	</main>
