<div class="jumbotron jumbotron-fluid home">
    <div class="container">
        <h1 class="text-light display-4 font-weight-bold">Open Reserch</h1>
        <p class="text-light lead mt-4">OpenReserchはフラットでオープンな議論の場を提供します。</p>
        <%= link_to "登録して始める", new_user_registration_path, class: "btn btn-primary btn-lg mt-4" %>
    </div>
</div>